
/* Global Styling */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}
/* Navbar Styling */
.navbar {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
    font-weight: 700;
    color: #780783;
}
.navbar .nav-link {
    color: #333;
    font-weight: 500;
}
.navbar .nav-link:hover {
    color: #780783;
}
.hero-section {
    padding: 100px 0;
    color: #f8f3f8;
    text-align: center;
    
}
.search-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}
footer {
    padding: 20px 0px;
    background: #242324;
    color: white;
}

.hero {

    background: url(../Images/photo-collage.png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-overlay{
    background: rgba(0, 0, 0, 0.3);
    height: 800px;
}


.hero-section h1 {
    
    font-size: 4rem;
    font-weight: 700;
    color: #FFD700; /* গোল্ডেন কালার */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}

.hero-section p {
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}



